{% extends 'flatpages/default.html' %}
 
{% block title %} Post list {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата
        </th>
        <th>
            Текст
        </th>
        <th>
            Категория
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title|title }}
        </td>
        <td>
            {{ post.created|date:'d M Y'}}
        </td>
        <td>
            {{ post.text|truncatechars:50 }}

        </td>
        <td>
            {{ post.cats|title }}

        </td>

    </tr>
</table>
{% endblock content %}